
body{
  font-family: Reddit Mono;
  background: rgb(11, 14, 19); /*default dark mode rgb(20, 21, 24)*/ 
  /*rgb(7, 12, 22) */
  color: rgb(118, 126, 129);
}


#dashboard{
  color: rgb(118, 126, 129);/*rgb(9, 60, 80)*/
}


.navbar{
  padding-top: 0.5em;
}

/*text-decoration: underline 1px rgb(102, 95, 58);*/

#navbuttons{
  display:flex; 
  justify-content: left;
  cursor: pointer;
  background-color: rgb(108, 108, 173); /*rgba(0, 0, 0, 0.041)*/
  background-image: linear-gradient(to right, rgb(22, 39, 61) , rgb(86, 31, 100), rgb(143, 126, 126));
  border-radius: 25px;
  padding: 0.25em;
  padding-top: 0.35em;
  padding-bottom: 0.35em;
}

#navbuttons a{
  padding-left: 1em;
  padding-right: 1em;
}

.lol{
  color:  rgb(146, 157, 161);
  transition: 0.25s;
  /*
  rgb(118, 126, 129)
  rgb(62, 72, 99)
  */
}

.lol:hover{
  transition: all ease 0.60s;
  color: rgb(235, 237, 240);

}




.parentContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left:4em;
  padding-right:4em;
}


.genericContainer1{
  overflow-y: scroll;
  /*background: linear-gradient(to right, rgb(10, 14, 17), rgb(2, 2, 14));*/
  background-color: rgba(0, 0, 0, 0.288);
  /*border: solid 1px rgba(66, 68, 71, 0.253);*/
  border-radius: 5%;
  /*border: solid 1px rgba(118, 126, 129, 0.74);*/
  /*border-radius: 1%;*/
  margin: 1rem;
  padding: 1rem; 
  /*box-shadow: 1px 1px 5px 1px rgba(34, 34, 34, 0.342);*/
}


.genericContainer2{
 
  margin: 1rem;
  padding: 1rem; 
 
}


.hrdividers{
  border: solid 1px rgba(118, 126, 129, 0.507);
}
/*
.genericContainer1:hover{
  border: dashed 1px rgb(118, 126, 129);
}
*/

.genericContainer1:hover{

  cursor: pointer;
  transition: all 1s;
}

.genericContainer1:hover > .hrdividers{
  border: solid 1px rgba(255, 255, 255, 0.39);
  transition: all 0.5s ease;
}


#favorites{
  color: rgb(118, 126, 129);/*rgba(95, 83, 51, 0.719)*/
  background-color: rgba(0, 0, 0, 0.301);
  
}


.genericContainer1:hover > #favorites{
  color: rgb(167, 167, 167);
  transition: all 0.5s ease;
  
}

.genericContainer1:hover > #dashboard{
  color:   rgb(167, 167, 167);
  transition: all 0.5s ease;
 
  border-radius: 5%;
}


/*rgba(16, 227, 255, 0.308)*/
/*rgba(0, 255, 200, 0.253)*/
/*rgba(16, 255, 255, 0.137)*/



.googlStyle a{
  text-decoration: none;
}

.googlStyle a:hover{
  color: rgb(181, 81, 228);
  background-color: rgba(73, 55, 173, 0.336);
  transition: 0.5s ease;
}

#buttons{
  color: rgb(148, 148, 148);
  background-color: transparent;
  border: none;
  border-radius: 10%;
  text-decoration: none;
}


#spanHoverUtility{
  background-color: rgba(0, 0, 0, 0.301);
}


.genericContainer1:hover ~ #spanHoverUtility{
  background-color: rgba(0, 163, 212, 0.089);
  /*background-color: rgba(0, 163, 212, 0.089);*/
}

#myList{
  color: rgb(118, 126, 129);/*rgba(95, 83, 51, 0.719)*/
  background-color: rgba(0, 0, 0, 0.301);
}


.wrap{
  overflow: auto;
  font-size: small;
}

a:visited{
  color: rgb(99, 51, 145);
}
a:link{
  color: rgb(99, 51, 145);
}

#categoryListContainer{  /*properties of the container*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.categoryContainer{ /*properties of just the category box*/
  border: solid 1px white;
  border-radius: 5%;
  padding: 1em;
  margin: 1em;
}


.genericContainer2{

}