#title{
    font-family: Playfair Display;
    color: rgb(118, 126, 129);
    font-weight: 700;
    text-align: left;
    padding-left: 0.25em;
}

#titlespan{
    color: rgb(153, 160, 168);

}

#star{
    display: inline-block;
    
    transition: transform 1.5s ease;
}



#zel:hover{
    text-shadow: 1px 1px 2px rgb(40, 99, 60), 0 0 1em rgba(0, 1, 85, 0.747), 0 0 0.2em rgba(0, 0, 29, 0.788);
    transition: transform 1.5s ease;
 
}
 
 
/*text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;*/
 #titleSpan:hover{
   color: rgb(60, 143, 158);
    transition: color 1.5s;
    cursor: pointer;
 }


#titleSpan:hover > #star{
    transform: rotate(150deg);
    background: conic-gradient(  #7dfa34, #ddd269, #21d4f3, #c64ef5);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
    

