#title{
    font-family: Playfair Display;
    color: rgb(118, 126, 129);
    font-weight: 700;
    text-align: left;
    padding-left: 0.25em;
}

#titlespan{
    color: rgb(153, 160, 168);
   
}

#star{
    display: inline-block;
    transition: transform 1s ease;
}


 
 

 #titleSpan:hover{
    color: rgb(124, 106, 47);
    transition: color 1.5s;
    cursor: pointer;
 }


#titleSpan:hover > #star{
    transform: rotate(90deg);
}
    