

#title{
    
    font-family: "Caveat"; /*Playfair Display*/
    color: rgb(118, 126, 129);
    font-weight: 600;
    text-align: left;
    padding-left: 0.25em;
    font-size: 250%;    
}

#titlespan{
    color: rgb(153, 160, 168);

}

#star{
    display: inline-block;
    
    transition: transform 1.5s ease;
}



#zel:hover{

    transition: transform 1.5s ease;
 
}
 
/*text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;*/
 #titleSpan:hover{
    color: rgb(61, 135, 153);
    transition: color 1.25s;
    cursor: pointer;
 }


#titleSpan:hover > #star{
    transform: rotate(180deg);
    background: conic-gradient(  #877bb4, #6856ce, #3c7ca1, #21649b); /*#7dfa34, #ddd269, #21d4f3, #c64ef5*/ /*#8b7e9e, #675c79, #483f57, #2a324b*/
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
    

