

#title{
    
    font-family: "Unica One"; /*Caveat*/
    /*color: rgb(118, 126, 129);*/
    font-weight: 500;
    text-align: left;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 250%;    
    /*color: rgb(151, 151, 151);*/

    /*
    color: transparent;
    background-image: url('https://www.shutterstock.com/image-vector/big-data-futuristic-hi-tech-600nw-2474282407.jpg'); 
    background-size: 200%; 
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 30s infinite alternate linear;
    */
}

#zel{
    
}

/*
.gradient-text {
    background-color: rgb(255, 255, 255);

    background-image: linear-gradient( #13aaa3, #18b1f8);

    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
*/


#titlespan{
    color: rgb(153, 160, 168);

}

#star{
    display: inline-block;
    transition: transform 1.5s;
}



#zel:hover{

    /*transition: transform 1.5s ease;*/
    /*text-shadow: 1px 1px 1px rgb(49, 46, 87);*/
}
 
/*text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;*/
 #titleSpan:hover{
    /*color: rgb(223, 223, 223);*/
    transition: color 1.25s;
    cursor: pointer;
    color: rgb(40, 67, 141);
    /*
    transition: background-color 250ms;
    background: linear-gradient(to right, rgb(57, 55, 102) , rgb(57, 55, 102) 50% , rgb(63, 141, 122));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    */
 
 }


#titleSpan:hover > #star{
    transform: rotate(180deg);
    transition: 1.5s ease;
    color:transparent;
    background: conic-gradient(rgb(26, 170, 170),rgb(27, 219, 145),rgb(73, 103, 185),rgb(34, 185, 165));
    -webkit-background-clip:text;
        background-clip: text;

}
    
/*
@keyframes animate-background {
    0% {
        background-position: 30% 50%;
    }
    100% {
        background-position: 70% 50%;
    }
}
    */
